extends ../layout

block append head
  link(rel='stylesheet' href='/stylesheets/kanban.css')

block content
  // Modals
  include new-backlog.pug
  include new-card.pug

  .container-fluid
  button.btn.btn-info.btn-sm(type='button' data-toggle='modal' data-target='#BacklogModal')
    i.fa.fa-plus
  #sortableKanbanBoards.row
    each backlog in backlogs
      .panel.panel-primary.kanban-col
        .panel-heading
          | #{backlog.tipo}
          i.fa.fa-2x.fa-plus-circle.pull-right
        .panel-body
          .kanban-centered(id=backlog._id)
            each tarjeta in backlog.tarjetas
              article#item6.kanban-entry.grab(draggable='true')
                .kanban-entry-inner
                  .kanban-label
                    h2="Tarea con valor de " + tarjeta.valor

                    p="Como : " + tarjeta.narrativa.como
                    p="Quiere : " + tarjeta.narrativa.quiero
                    p="De Manera Que : " + tarjeta.narrativa.manera

                    p="Dado : " + tarjeta.criterios.dado
                    p="Cuando : " + tarjeta.criterios.cuando
                    p="Entonces : " + tarjeta.criterios.entonces
        .panel-footer
          button.btn.btn-info.btn-sm(type='button' data-toggle='modal' data-target='#CardModal' data-backlog=backlog._id) Agregar tarjeta

  #processing-modal.modal.modal-static.fade(role='dialog' aria-hidden='true')
    .modal-dialog=''
      .modal-content
        .modal-body
          .text-center
            i.fa.fa-refresh.fa-5x.fa-spin
            h4 Processing...
block append script
  
  script(src='/javascripts/kanban/kanban.js' type='text/javascript')
  script(src='/socket.io/socket.io.js' type='text/javascript')
  script(src='/javascripts/kanban/kanbanSocket.js' type='text/javascript')
  script.
      $('#CardModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget);
        var backlogId = button.data('backlog');
        var modal = $(this);
        modal.find('.modal-body input[name=backlog]').val(backlogId);
      });
