extends ../layout
block append head
  link(rel='stylesheet', href='/stylesheets/projects.list.css')
block content
  .container
    .row
      .col-xs-12.col-sm-offset-2.col-sm-8(class='[ ]')
        a.btn.btn-success.btn-large.glyphicon.glyphicon-plus(href="/projects/new")
        ul.event-list
          each proyecto in proyectos
            li
              time
                p= moment(proyecto.fecha_solicitud).format("DD-MM-YYYY")
                p= moment(proyecto.fecha_arranque).format("DD-MM-YYYY")
              .info
                h2.title= proyecto.nombre
                p.desc Product Owner: #{proyecto.product_owner}
                p.desc SCRUM Master: #{proyecto.scrum_master}
                p.desc= proyecto.descripcion
                a(href=`/projects/${proyecto._id}/statistics`) Ver estadísticas
