extends ../layout
block append head
  link(rel='stylesheet', href='/stylesheets/projects.list.css')
block content
  .container
    .row
      .col-xs-12.col-sm-offset-2.col-sm-8(class='[ ]')
        a.btn.btn-success.btn-large.glyphicon.glyphicon-plus(href="/new_project")
        ul.event-list
          each proyecto in proyectos
            li
              time(datetime='2014-07-20')
                span.day= proyecto.fecha_solicitud
                |
                span.month= proyecto.fecha_arranque
                |
                span.year= proyecto.product_owner
                |
                span.time= proyecto.scrum_master
              .info
                h2.title= proyecto.nombre
                p.desc= proyecto.descripcion
                a(href="/statistics") Ver estadísticas
